name: Format Code base

on:
  push:
    branches: 
    - '*'
jobs:
  format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 7.0.0  # Adjust to your preferred .NET version

      - name: Install dotnet-format
        run: dotnet tool install -g dotnet-format --version 7.0.0

      - name: Run dotnet-format
        run: dotnet format --check --fix --folder .  # You can adjust the folder if needed
